:root {
  line-height: 1;

  color-scheme: dark;
  background-color: #5d0707;

  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}


address {}
article {
  border: 5px solid white;
  border-radius: 10px;
  margin: 1em 2em;

  background-color: #800606;
}
aside {
  margin: 10px;
  border: 3px solid white;
}
@media (max-width: 860px) {
  aside {
    width: auto;
  }
}
@media (min-width: 861px) {
  aside {
    float: left;
    max-width: 35em;
  }
}
footer {
  padding: 20px;
  background-color: #222222;
  border-top: 4px ridge #888888;
}
header {
  padding-top: 20px;
  background-color: #8d1800;
  border-bottom: 4px ridge #8d1800;
}
header nav {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: stretch;
  background-color: #070707;
}
h1 {
  /* This is the header title. */
  margin: 0;
  margin-left: 8px;
  margin-bottom: 10px;

  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  margin: 8px;
  color:#a89797;
  font-style: italic;
}
h3 {
  margin: 8px 8px;
}
h4 {
  margin: 0 8px;
}
h5 {
  margin: 0 8px;
}
h6 {
  margin: 0 8px;
}
hgroup {
  margin: 10px;
}
main {}
@media (max-width: 860px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
nav {}
section {}
search {}


blockquote {
  background-color: #460505;
  padding: 20px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}
dd {
  font-style: italic;
}
div {}
dl {
  margin-left: 1em;
  padding: 10px;
  padding-left: 15px;
  border-left: 3px groove lightgray;
}
dt {
  font-weight: bold;
}
figcaption {}
figure {}
hr {
  /* height: 5px; */
  color: orangered;
  border-style: ridge;
  border-width: 2px;
}
li {
}
menu {}
ol {
}
p {
  margin: 0 8px 8px 8px;
}
p.quote{
  font-style: italic;
}
p.tangent {
  font-size: 1em;
  color: orangered;
  padding-left: 1em;
  padding-right: 5em;
}
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 2em;
}
pre code {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
ul {
  margin: 0em 1em 1em 0em;
}


a {}
a[href^="yahoo"]::before {
  content: "Yahoo: ";
}
a[href^="github"]::before {
  content: "GitHub ";
}
a[href^="discord"]::before {
  content: "Discord ";
}
a[href^="youtube"]::before {
  content: "YouTube ";
}
abbr {
  font-style: italic;
  color: chocolate;
  cursor: help;
}
b {}
bdi {}
bdo {}
br {}
cite {}
code {
  background: #222222;
  
  color: #d6deeb;
  font-family: monospace, monospace;
  font-size: 1em;
}
code.python span.b1 {
  color: gold;
}
code.python span.b2 {
  color: magenta;
}
code.python span.b3 {
  color: blue;
}
code.python span.func {
  color: #f3f39d;
}
code.python span.id {
  color: #55d5ff;
}
code.python span.keyword {
  color: #af3da9;
}
code.python span.num {
  color: darkseagreen;
}
code.python span.type {
  color: #12d191;
}
data {}
dfn {}
em {}
i {}
kbd {}
mark {}
q {}
rp {}
rt {}
ruby {}
s {}
samp {}
small {}
span {}
strong {}
sub {}
sup {}
time {}
u {}
var {}
wbr {}


area {}
audio {}
img {}
img.socials {
  height: 2em;
  padding: 0em;
  will-change: filter;
  transition: filter 300ms;
}
img.doc-img {
  height: 20em;
  padding: 0em;
  will-change: filter;
  transition: filter 300ms;
}
map {}
track {}
video {}


embed {}
fencedframe {}
iframe {}
objrect {}
picture {}
source {}


svg {}
math {}


canvas {}
noscript {}
script {}


del {}
ins {}


caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}
col {}
colgroup {}
table {
  margin: 1em;
  border-collapse: collapse;
  border: 2px solid white;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
tbody {}
td {
  border: 1px solid white;
  padding: 8px 10px;
  text-align: center;
}
tfoot {}
th {
  border: 1px solid white;
  padding: 8px 10px;
  background-color: black;
}
thead {}
tr {}
tr:nth-child(even) td {
  background-color: #525252;
}
tr:nth-child(odd) td {
  background-color: #363636;
}


button {
  background-color: #d98116;
  font-weight: bold;
  padding: 1em 2em;
  color:white;
  border: 2px outset orange;
  border-radius: 4px;
}
button:hover {
  background-color: #f79a0e;
  padding: 1em 2em;
  border: 2px outset orange;
  border-radius: 4px;
}
button:active {
  background-color: #7a4307;
  border: 2px inset orange;
  color: #b3b3b3;
}
button:focus,
button.focus-visible {
  
}
button.navigation {
  /* border-radius: 8px; */
  border: 2px solid transparent;
  border-radius: 0;
  color: white;
  padding: 0.6em;
  height: 100%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  text-align:center;
  transition: all 0.25s;
}
button.navigation:hover {
  color: #f66904;
  background-color: #414141;
  border-color: #f66904;
  border-width: 2px;
}
button.navigation:focus,
button.navigation:focus-visible {
  background-color: #482900;
  outline: 4px auto -webkit-focus-ring-color;
}
datalist {}
fieldset {}
form {
  padding: 1em;
  max-width: max-content;
}
input[type=button] {
  background-color: #d98116;
  font-weight: bold;
  padding: 1em 2em;
  color:white;
  border: 2px outset orange;
  border-radius: 4px;
}
input[type=button]:hover {
  background-color: #f79a0e;
  padding: 1em 2em;
  border: 2px outset orange;
  border-radius: 4px;
}
input[type=button]:active {
  background-color: #7a4307;
  border: 2px inset orange;
  color: #b3b3b3;
}
input[type=checkbox] {
  background-color: red;
}
input[type=color] {}
input[type=date] {}
input[type=datetime-local] {}
input[type=email] {
  background-color: #2e2e2e;
  border-color: white;
}
input[type=email]:invalid {
  border-color: red;
}
input[type=file] {}
input[type=hidden] {}
input[type=image] {}
input[type=month] {}
input[type=number] {}
input[type=password] {}
input[type=radio] {}
input[type=range] {}
input[type=reset] {
  background-color: #d98116;
  font-weight: bold;
  padding: 1em 2em;
  color:white;
  border: 2px outset orange;
  border-radius: 4px;
}
input[type=reset]:hover {
  background-color: #f79a0e;
  padding: 1em 2em;
  border: 2px outset orange;
  border-radius: 4px;
}
input[type=reset]:active {
  background-color: #7a4307;
  border: 2px inset orange;
  color: #b3b3b3;
}
input[type=search] {
}
input[type=submit] {
  background-color: #0dc50d;
  font-weight: bold;
  padding: 1em 2em;
  color:white;
  border: 2px outset greenyellow;
  border-radius: 4px;
}
input[type=submit]:hover {
  background-color: #14ee14;
  padding: 1em 2em;
  border: 2px outset greenyellow;
  border-radius: 4px;
}
input[type=submit]:active {
  background-color: #0c6c0c;
  border: 2px inset greenyellow;
  color: #b3b3b3;
}
input[type=tel] {
  background-color: #2e2e2e;
  border-color: white;
}
input[type=tel]:invalid {
  border-color: red;
}
input,
input[type=text] {
  background-color: #2e2e2e;
  border-color: white;
}
input[type=time] {
  background-color: #2e2e2e;
  border-color: white;
}
input[type=time]:invalid {
  border-color: red;
}
input[type=url] {
  background-color: #2e2e2e;
  border-color: white;
}
input[type=url]:invalid {
  border-color: red;
}
input[type=week] {}
label {}
label.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.container input[type="radio"] {
  /* Hide the browser's default radio button */
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
label.radiomark {
  /* Create a custom radio button */
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
label.container:hover input[type="radio"] ~ span.radiomark {
  /* On mouse-over, add a grey background color */
  background-color: #ccc;
}
label.container input:checked ~ span.radiomark {
  /* When the radio button is checked, add a blue background */
  background-color: #2196F3;
}
span.radiomark:after {
  /* Create the indicator (the dot/circle - hidden when not checked) */
  content: "";
  position: absolute;
  display: none;
}
label.container input[type=radio]:checked ~ span.radiomark:after {
  /* Show the indicator (dot/circle) when checked */
  display: block;
}
label.container span.radiomark:after {
  /* Style the indicator (dot/circle) */
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
label.container input[type=checkbox] {
  /* Hide the browser's default checkbox */
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
span.checkmark {
  /* Create a custom checkbox */
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eeeeee;
  border-radius: 3px;
}
label.container:hover input[type=checkbox] ~ span.checkmark {
  /* On mouse-over, add a grey background color */
  background-color: #cccccc;
}
label.container input[type=checkbox]:checked ~ span.checkmark {
  /* When the checkbox is checked, add a blue background */
  background-color: #2196F3;
}
label.container input[type=checkbox]:checked:hover ~ span.checkmark {
  /* When the checkbox is checked and mourse-over, add a darker-blue background */
  background-color: #1479cb;
}
span.checkmark:after {
  /* Create the checkmark/indicator (hidden when not checked) */
  content: "";
  position: absolute;
  display: none;
}
label.container input:checked ~ span.checkmark:after {
  /* Show the checkmark when checked */
  display: block;
}
label.container span.checkmark:after {
  /* Style the checkmark/indicator */
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
legend {}
meter {}
optgroup {}
option {}
output {}
progress {}
select {}
selectedcontent {}
textarea {
  background-color: #2e2e2e;
  border-color: white;
}


details {
  padding: 1em;
  width:max-content;
}
details[open] summary {
  margin-bottom: 0.5em;
}
dialog {}
summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5;
}


slot {}
template {}